# Build artifacts
**/target/
*.class
*.jar

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Secrets & Keys
*.pem

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Media (large files)
*.mp4

# Temp
temp_images/
__pycache__/
